
:global {
  .selectcondition {
    .ant-modal-header {
      padding: 10px;
      background-color: #D8000F;
      .ant-modal-title {
        color: #fff;
      }
    }
    .ant-modal-body {
      padding: 10px;
      .ant-card {
        margin-bottom: 10px;
        .ant-card-head {
          margin-bottom: 5px;
          .ant-card-head-title {
            line-height: 38px;
          }
        }
        .ant-card-body {
          > div {
            position: relative;
            float: left;
            height: 35px;
            line-height: 35px;
            width: 160px;
            text-align: left;
            margin-right: 10px;
            margin-top: 5px;
            padding-left: 10px;
            background-color: #F7F7F7;
            border: 0;
            color: #000;
            >i{
              position: absolute;
              right: 10px;
              line-height: 35px;
              color: #D6D6D6;
            }
          }
        }
      }
      .allSelected{
        .ant-card-head{
          .ant-card-extra{
            padding-top: 0;
            padding-bottom: 3px;
          }
        }
      }
      .conditionlist {
        .ant-card-head {
          border-bottom: 1px solid #D8000F;
          .ant-card-head-wrapper {
            width: 100px;
            padding-left: 15px;
            background-color: #D8000F;
            color: #fff;
          }
        }
      }
      .othercondition{
        .ant-card-head {
          border-bottom: 1px solid #D8000F;
          .ant-card-head-wrapper {
            width: 100px;
            padding-left: 15px;
            background-color: #D8000F;
            color: #fff;
          }
        }
      }
    }
    .ant-modal-close {
      span {
        width: 42px;
        height: 42px;
        line-height: 42px;
      }
    }
  }
  .ant-popover {
    width: 400px;
    .inputsBox{
      .ant-col-2{
        text-align: center;
        line-height: 30px;
      }
    }
  }
}

