
:global {
  .selectcondition {
    .ant-modal-header {
      padding: 10px;
      background-color: #D8000F;
      .ant-modal-title {
        color: #fff;
      }
    }
    .ant-modal-body {
      padding: 10px;
      .ant-card {
        margin-bottom: 10px;
        .ant-card-head {
          margin-bottom: 5px;
          .ant-card-head-title {
            line-height: 38px;
          }
        }
        .ant-card-body {
          .ant-btn {
            width: 180px;
            text-align: left;
            margin-right: 10px;
            margin-top: 5px;
            background-color: #F7F7F7;
            border: 0;
            color: #000;
          }
        }
      }
      .conditionlist {
        .ant-card-head {
          border-bottom: 1px solid #D8000F;
          .ant-card-head-wrapper {
            width: 100px;
            padding-left: 15px;
            background-color: #D8000F;
            color: #fff;
          }
        }
      }
      .othercondition{
        .ant-card-head {
          border-bottom: 1px solid #D8000F;
          .ant-card-head-wrapper {
            width: 100px;
            padding-left: 15px;
            background-color: #D8000F;
            color: #fff;
          }
        }
      }
    }
    .ant-modal-close {
      span {
        width: 42px;
        height: 42px;
        line-height: 42px;
      }
    }
  }
  .ant-popover {
    width: 400px;
  }
}
