.input_border() {
  input {
    border-bottom: 1px solid #d9d9d9;
  }
}

:global {
  .submitdismiss {
    text-align: center;
    button{
      margin: 10px;
    }
  }
  .dimiss {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    input {
      border: 0;
      outline: 0;
      &:focus{
        border: 0;
        outline:0;
      }
    }
    .dimiss_head {
      height: 140px;
      border-bottom: 1px solid #d9d9d9;
      .input_border();
      > p:first-child {
        font-size: 26px;
        text-align: center;
      }
    }
    .dimiss_main {
      .ant-form-item{
        border-bottom: 1px solid #d9d9d9;
        .ant-form-item-label{
          text-align: left;
          border-right: 1px solid #d9d9d9;
          padding-left: 20px;
        }
        .ant-form-item-control-wrapper{
          border-right: 1px solid #d9d9d9;
        }
      }
      &_title {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #d9d9d9;
        padding: 0 20px;
        font-weight: bold;
        button {
          float: right;
          margin-top: 5px;
        }
      }
      &_cont {
        display: flex;
        &_left {
          flex: 1;
        }
        &_right {
          flex: 1;
        }
      }
      &_note{}
      &_maintext{}
      &_attachment{}
      &_selectnotice{}
      &_datewritten{}
    }
    .dimss_foot {
    }
  }

}
