:global .submitdismiss {
  text-align: center;
}
:global .submitdismiss button {
  margin: 10px;
}
:global .dimiss {
  width: 100%;
  background-color: #fff;
  border: 1px solid #d9d9d9;
}
:global .dimiss input {
  border: 0;
  outline: 0;
}
:global .dimiss .dimiss_head {
  height: 140px;
  border-bottom: 1px solid #d9d9d9;
  padding: 3px;
}
:global .dimiss .dimiss_head input {
  border-bottom: 1px solid #d9d9d9;
}
:global .dimiss .dimiss_head > p:first-child {
  font-size: 26px;
  text-align: center;
}
:global .dimiss .dimiss_main {
  display: flex;
  flex-flow: column nowrap;
  height: 800px;
}
:global .dimiss .dimiss_main .ant-form-item {
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
}
:global .dimiss .dimiss_main .ant-form-item .ant-form-item-label {
  height: 100%;
  text-align: left;
  border-right: 1px solid #d9d9d9;
  padding-left: 20px;
  padding-top: 3px;
}
:global .dimiss .dimiss_main .ant-form-item .ant-form-item-control-wrapper {
  height: 100%;
  padding: 5px;
  border-right: 1px solid #d9d9d9;
}
:global .dimiss .dimiss_main .ant-form-item .ant-form-item-control-wrapper button {
  margin-top: 3px;
}
:global .dimiss .dimiss_main .ant-form-item .ant-form-item-control-wrapper .ant-upload {
  float: right;
}
:global .dimiss .dimiss_main .ant-form-item .ant-form-item-control-wrapper .ant-upload-list {
  float: right;
  width: 250px;
  margin-right: 10px;
  background-color: #fbfbfb;
}
:global .dimiss .dimiss_main_title {
  flex: 1;
  line-height: 3;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 20px;
  font-weight: bold;
}
:global .dimiss .dimiss_main_title button {
  float: right;
  margin-top: 8px;
}
:global .dimiss .dimiss_main_cont {
  width: 100%;
}
:global .dimiss .dimiss_main_cont_left {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
}
:global .dimiss .dimiss_main_cont_left .ant-form-item {
  flex: 1;
}
:global .dimiss .dimiss_main_cont_right {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
}
:global .dimiss .dimiss_main_cont_right .ant-form-item {
  flex: 1;
}
:global .dimiss .dimiss_main_cont_right .ant-form-item .ant-form-item-control-wrapper {
  border-right: 0;
}
:global .dimiss .dimiss_main_cont-staff {
  flex: 3;
}
:global .dimiss .dimiss_main_cont-staff .dimiss_main_cont_right .ant-form-item:nth-child(1) input {
  border: 1px solid #d9d9d9;
}
:global .dimiss .dimiss_main_cont-registtop {
  flex: 4;
}
:global .dimiss .dimiss_main_cont-registtop .dimiss_main_cont_left .ant-form-item:nth-child(1) input {
  border: 1px solid #d9d9d9;
}
:global .dimiss .dimiss_main_cont-registbottom {
  flex: 7;
  display: flex;
  flex-flow: column nowrap;
}
:global .dimiss .dimiss_main_cont-registbottom .ant-form-item {
  flex: 1;
}
:global .dimiss .dimiss_main_cont-registbottom .ant-form-item .ant-form-item-control-wrapper {
  border-right: 0;
}
:global .dimiss .dimiss_main_cont-registbottom .ant-form-item:first-child {
  flex: 3;
}
:global .dimiss .dimiss_main_cont-registbottom .ant-form-item:first-child textarea {
  border: 0;
}
:global .dimiss .dimiss_main_cont-registbottom .ant-form-item:nth-child(4) .ant-select {
  width: 150px;
}
:global .dimiss .dimiss_main_cont-registbottom .ant-form-item:last-child {
  border-bottom: 0;
}
:global .dimiss .dimiss_main_cont-registbottom .ant-form-item:last-child .ant-form-item-label {
  text-align: right;
  border-right: 0;
}
:global .dimiss .dimiss_main_cont-registbottom .ant-form-item:last-child .ant-form-item-control-wrapper input {
  border: 1px solid #d9d9d9;
}
:global .dimiss .dimss_foot {
  flex: 1;
}
:global .selectstaff {
  height: 400px;
}
:global .selectstaff .queryform {
  display: flex;
  border: 1px solid #e8e8e8;
  border-bottom: 0;
}
:global .selectstaff .queryform .ant-form-item {
  flex: 1;
  margin-right: 2px;
}
:global .selectstaff .queryform button {
  margin-top: 3px;
  margin-right: 2px;
}
/*# sourceMappingURL=staffmission.css.map */