.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.AppHeader{
	width: 100%;
	height: 152px;
}
.headerTop{
	width: 100%;
	height: 89px;
	background-image: url(../images/1.png);
	background-size: cover;
}
.headerBottom{
	width: 100%;
	height: 63px;
	background-color: #D8000F;
}
.headerTopL{
	width: 92px;
	height: 54px;
	margin-left: 120px;
	margin-top: 12px;
	display: inline-block;
	margin-right: 5px;
	float: left;
}
.headerTopL>img{
	width: 100%;
	height: 54px;
}
.headerTopR{
	width: 315px;
	height: 37px;
	margin-top: 27px;
	float: left;
}
.headerTopC{
	width: 206px;
	height: 24px;
	font-size: 18px;
	line-height: 24px;
	float: left;
	margin-right: 170px;
	margin-top:40px;
}
.headerTopR .ant-input-affix-wrapper .ant-input-suffix .ant-btn-primary {
    color: #fff;
    background-color: #fff;
    border-color: #D8000F;
    color: #D8000F;
}
.headerBottom>nav{
	width: 420px;
	height: 63px;
	margin-left: 120px;
}
.headerBottom>nav>a{
	width: 128px;
	height: 63px;
	line-height: 63px;
	font-size: 15px;
	color: white;
	display: inline-block;
	text-align: center;
}
.navActive{
	background-color: #B40710;
}
.ant-layout-sider-trigger{
	background-color: #fff !important;
}
.ant-layout-sider{
	background-color: #fff !important;
}
.anticon.anticon-left{
	color: rgba(0, 0, 0, 0.65);
}
.anticon.anticon-right{
	color: rgba(0, 0, 0, 0.65);
}
.ant-menu-item>a{
	color: rgba(0, 0, 0, 0.65);
}
.ant-menu-item-active{
	color: #D8000F !important;
}
.ant-menu-item.ant-menu-item-selected {
    background-color: #fff0f0 !important;
}
.ant-menu-item-selected > a, .ant-menu-item-selected > a:hover {
    color: #D8000F !important;
}
.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after {
    border-right: 3px solid #D8000F !important;
}
.App .ant-layout-has-sider{
	min-height: 75vh !important;
}
